<!-- About blurb Section -->
<section id="about" class="about about-blurb">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row about-details">
                <p>An open-source, free comprehensive software that will allow biomedical scientists to precisely locate shape changes in their imaging studies. This software called Slicer Shape AnaLysis Toolbox (SlicerSALT), will enhance the intuitiveness and ease of use for such studies, as well as allow researchers to find shape changes with higher statistical power. Altogether this constitutes a crucial resource for the imaging field that will enable many and important new findings in biomedical imaging studies.</p>
                <p>The <a href="https://github.com/Kitware/SlicerSALT" target="_blank">SlicerSALT developers</a> gratefully acknowledge funding for this project provided by NIH NIBIB R01EB021391 (Shape Analysis Toolbox for Medical Image Computing Projects), as well as the <a href="https://www.slicer.org/" target="_blank">Slicer community</a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About blurb Section -->
