<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.ctaImage }});">
    <!-- <div class="overlay solid-overlay"></div> -->
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.ctaTitle }}</h3>
            <a href="{{ site.ctaLink }}" class="btn btn-secondary btn-lg">{{ site.ctaButtonText }}</a>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
