<!-- About blurb Section -->
<section id="docs" class="docs docs-info">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <div class="row docs-details">
                <h5>Citations of SlicerSALT in publications</h5>
                <p>To acknowledge SlicerSALT as a platform, please cite the Slicer web site and the following SlicerSALT publication:</p>
                <p>Vicory J. et al. (2018) SlicerSALT: Shape AnaLysis Toolbox. In: Reuter M., Wachinger C., Lombaert H., Paniagua B., Lüthi M., Egger B. (eds) Shape in Medical Imaging. ShapeMI 2018. Lecture Notes in Computer Science, vol 11167, pp. 65-72. Springer, Cham. https://doi.org/10.1007/978-3-030-04747-4_6</p>
                <p>For more information on citing the Slicer platform, see the following example or visit <a href="https://www.slicer.org/wiki/CitingSlicer" target="_blank">https://www.slicer.org/wiki/CitingSlicer</a></p>
                <p><strong>Example:</strong> <em class="sm">(modify the first part according to your use case)</em></p>
                <code>We performed shape analysis and/or visualization in 3D Slicer (www.slicer.org) via the SlicerSALT project (salt.slicer.org, Vicory et al 2018).</code>
            </div>
        </div>
        <div class="col-md-12 has-bg">
            <div class="col-md-10 col-md-offset-1">
                <div class="row docs-detail-columns">
                    <div class="col-md-3">
                        <h6>General Slicer Guide</h6>
                        <p>Additional information on Slicer and how to use the software.</p>
                        <a href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Training" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Slicer training</a>
                    </div>
                    <div class="col-md-3">
                        <h6>SlicerSALT Forum</h6>
                        <p>Check out what the community has to say about SlicerSALT.</p>
                        <a href="https://discourse.slicer.org/c/community/slicer-salt" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Discourse SlicerSALT</a>
                    </div>
                    <div class="col-md-3">
                        <h6>For Developers</h6>
                        <p>Check out some additional guidelines tailored specifically to developers.</p>
                        <a href="https://github.com/Kitware/SlicerSALT" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Development guidelines</a>
                    </div>
                    <div class="col-md-3">
                        <h6>For Users</h6>
                        <p>Step-by-step tutorials for each packaged method</p>
                        <a href="https://slicersalt.readthedocs.io/en/populatereadthedocs/" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Read The Docs</a>
                        <a href="https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5e8c74792660cbefba9a74d3" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Workshops</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About blurb Section -->
