<!-- About blurb Section -->
<section id="docs" class="docs docs-info">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <div class="row docs-details">
                <h5>Citations of SlicerSALT in publications</h5>
                <p>To acknowledge 3D Slicer as a platform, please cite the Slicer web site and the following publications when publishing work that uses or incorporates 3D Slicer:</p>
                <p>For more information on citing the Slicer platform, see the following example or visit <a href="https://www.slicer.org/wiki/CitingSlicer" target="_blank">https://www.slicer.org/wiki/CitingSlicer</a></p>
                <p><strong>Example:</strong> <em class="sm">(modify the first part according to your use case)</em></p>
                <code>We performed shape analysis and/or visualization in 3D Slicer (www.slicer.org) via the SlicerSALT project (salt.slicer.org).</code>
            </div>
        </div>
        <div class="col-md-12 has-bg">
            <div class="col-md-10 col-md-offset-1">
                <div class="row docs-detail-columns">
                    <div class="col-md-3">
                        <h6>General Slicer Guide</h6>
                        <p>Additional information on Slicer and how to use the software.</p>
                        <a href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Training" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Slicer training</a>
                    </div>
                    <div class="col-md-3">
                        <h6>SlicerSALT Forum</h6>
                        <p>Check out what the community has to say about SlicerSALT.</p>
                        <a href="https://discourse.slicer.org/c/community/slicer-salt" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Discourse SlicerSALT</a>
                    </div>
                    <div class="col-md-3">
                        <h6>For Developers</h6>
                        <p>Check out some additional guidelines tailored specifically to developers.</p>
                        <a href="https://github.com/Kitware/SlicerSALT" class="btn btn-secondary waves-effect waves-button waves-light waves-float">Development guidelines</a>
                    </div>
                    <div class="col-md-3">
                        <h6>Tutorials for the finer steps</h6>
                        <ul>
                            <li><a href="https://github.com/NIRALUser/SPHARM-PDM/blob/master/Doc/SPHARM-PDM-Tutorial.pdf">Spherical Harmonic Representation Point Distribution Models (SPHARM-PDM)</a> Last updated July 21st 2017.</li>
                            <li><a href="https://github.com/slicersalt/slicersalt.github.io/blob/master/doc/GROUPS-Tutorial-July16_2018.pdf">Study-specific shape analysis (GROUPS)</a> Last updated July 16th 2018.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About blurb Section -->
