<!-- download Section -->
<section id="download" class="download download-info">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6">
                <h4>Via Girder</h4>
                <p>SlicerSALT is a customized 3D Slicer distribution. To download please visit Girder and choose the right package for your platform (Mac, Windows, or Linux).</p>
                <a href="https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5898b7ef8d777f07219fcb14" class="btn btn-secondary waves-effect waves-button waves-light waves-float" target="_blank">Visit Girder</a>
            </div>
            <div class="col-md-6">
                <h4>Via GitHub</h4>
                <p>The source code is available from the SlicerSALT GitHub repository. Please email us with any questions, or file an issue on GitHub.</p>
                <a href="https://discourse.slicer.org/c/community/slicer-salt" class="btn btn-secondary waves-effect waves-button waves-light waves-float" target="_blank">SlicerSALT on GitHub</a>
            </div>
        </div>
    </div>
</section>
<!-- End download Section -->
